$background-color: #343947;
$sub-background-color: #151515;
$sub-background-color-2: rgb(42, 42, 42);
$sub-background-color-light: #31343e;
$sub-background-color-lighter: rgba(79, 79, 79, 0.6);

$primary-color: #3acd8e;

$text-color: #ffffff;
$accent-color: #848793;
$accent-color-light: #dbdce7;
$text-color-dark: $sub-background-color;
$text-color-2: rgb(171, 171, 171);

$border-color: #1c1f29;
