.PageHeader {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--sub-background-color);
  align-items: center;
  color: var(--accent-color-light);
  border-bottom: 1px solid var(--border-color);
  z-index: 1000;
  padding-right: 20px;

  .title {
    font-size: 0.9rem;
    font-weight: 600;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    border-right: 3px solid var(--primary-color);

    span {
      color: var(--primary-color);
      font-size: 1.3rem;
      font-weight: 700;
      margin-right: 5px;
      margin-top: -5px;
    }
  }

  .file-path {
    height: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 20px;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    padding-left: 15px;

    .separater {
      color: var(--primary-color);
      font-weight: bolder;
      margin-inline: 3px;
    }
  }

  .loading-spin {
    svg {
      fill: var(--primary-color);
      width: 1.3rem;
    }
  }

  .save-btn {
    margin-right: 10px;
    color: var(--primary-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .save-btn.loading {
  //   color: var(--accent-color);
  // }

  .profile {
    position: relative;
    margin-left: 10px;

    .login-form-show {
      display: flex !important;
    }

    .login-form-hide {
      display: none !important;
    }

    .login-form {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 1000;
      padding: 15px;
      width: 200px;
      background-color: var(--sub-background-color-2);
      border-radius: 2px;
      border: 1px solid var(--sub-background-color-lighter);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: 0.9rem;

      &::before {
        content: "";
        right: 10px;
        top: -10px;
        width: 50px;
        height: 10px;
        background-color: var(--sub-background-color-2);
        position: absolute;
        clip-path: polygon(80% 0%, 0% 100%, 100% 100%);
      }

      input {
        background-color: white;
        outline: none;
        margin-bottom: 10px;
        height: 2rem;
        border-radius: 5px;
        padding-inline: 10px;
      }

      button {
        background-color: var(--primary-color);
        color: var(--text-color-dark);
        border-radius: 5px;
        padding: 5px;
        padding-inline: 20px;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
