@import "../../styles/variables.scss";

.FolderTree {
  width: fit-content;
  min-width: 100%;
  color: $accent-color-light;
  font-size: 0.85rem;
  padding-left: 5px;

  .file-icon {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  .folder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    i {
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
    }
  }
  .file {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }

  .file.active {
    background-color: $background-color;
  }

  .folder.active {
    i {
      color: $primary-color;
    }
  }
}
