
.FolderTree {
  width: fit-content;
  min-width: 100%;
  color: var(--accent-color-light);
  font-size: 0.85rem;
  padding-left: 5px;
  position: relative;

  .bucket {
    width: 100%;
    padding-left: 7px;
    padding-bottom: 8px;
    padding-top: 10px;
    background-color: var(--sub-background-color);
    box-shadow: rgb(0, 0, 0) 0px 8px 4px -10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    .select-bucket {
      width: 270px;
      display: flex;
      align-items: center;
      padding-top: 2px;

      .ant-select-selector {
        border: 0;
        width: 100%;
        background-color: var(--sub-background-color);
        cursor: pointer;
        color: var(--accent-color);
        font-size: 0.8rem;

        .ant-select-selection-placeholder {
          color: var(--accent-color);
        }
      }
      .ant-select-arrow{
        display: none;
        svg{
          fill: var(--accent-color);
        }   
      }
    }

    i {
      color: var(--text-color-2);
    }
  }

  .file-icon {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  .folder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    i {
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
    }
  }
  .file {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }

  .file.active {
    background-color: var(--background-color);
  }

  .folder.active {
    i {
      color: var(--primary-color);
    }
  }
}

